[Unit]
Description=Add rendering type in menu
PartOf=graphical-session.target
StartLimitIntervalSec=60s
StartLimitBurst=20

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/share/render-menu-options/render-menu-options.sh "%h/.local/share/applications/"
Restart=no

[Install]
WantedBy=default.target
