[Unit]
Description=Add rendering type in menu
ConditionUser=!root

[Service]
Type=oneshot
ExecStart=/usr/share/render-menu-options/render-menu-options-user.sh

[Install]
WantedBy=default.target
