[Unit]
Description=Add rendering type in menu
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/share/render-menu-options/render-menu-options.sh "$HOME/.local/share/applications/"

[Install]
WantedBy=default.target
