[Unit]
Description=Add rendering type in menu, flatpak apps
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/share/render-menu-options/render-menu-options.sh '/var/lib/flatpak/exports/share/applications'

[Install]
WantedBy=default.target
